
/* HEADER / NAV CSS */
.navbar {
  position: sticky;
  z-index: 900;
  background: white;
  display: block;
  order: 2;
  transition: color 600ms ease 0s;
  font-family: Plain;
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: rgb(119, 119, 119);
}

.navlink {
  float: right;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
}

.mainlogo {
  text-align: center;
  position: fixed;
  padding: 10px 10px;
}


/* GRID FOR PRODUCTS CSSS */
.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  width: 25%;
  float: left;
  margin-left: 60px;
  height: 400px;
}


.product-image {
    max-width:100%;
    height:auto;
}