
/* HEADER / NAV CSS */
.navbar {
  font-family: Plain;
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: rgb(119, 119, 119);
}

.navlink {
  float: right;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
}

.mainlogo {
  text-align: center;
  position: fixed;
  padding: 10px 10px;
}


/* GRID FOR PRODUCTS CSSS */
.grid-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(159px, 1fr));
  width: 100%;
  box-sizing: border-box;
  gap: 1px 1px;
  margin: 1px 0px 0px;
}

.grid-item {
  position: initial;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 10px 10px;

}

.product-image {
    max-width: 200px;
    height:auto;
}