
/* HEADER / NAV CSS */
.navbar {
  font-family: Plain;
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: rgb(119, 119, 119);
}

.navlink {
  float: right;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
}

.mainlogo {
  text-align: center;
  position: fixed;
  padding: 10px 10px;
}

/* LOGIN FORM */
.login-div {
  text-align: center;
}

/* REGISTER FORM */
.register-div {
  text-align: center;
}

/* GRID FOR PRODUCTS CSSS */
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: white;
  padding: 10px;
  align-items: stretch;
  justify-content: center;	
  justify-items: center;
  align-content: space-between;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  height: 230px;
}

/* PRODUCT SECTION STYLE */

.product-header {
  text-align: center;
  font-family: Plain;
  font-size: 30px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: rgb(119, 119, 119);
}

.product-add-button {
  background-color: white;
  border: 1px solid black;
  color: black;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: Plain;
  font-weight: 500;
  font-style: normal;
  font-size: 13px;
  margin: 4px 10px;
  transition-duration: 0.4s;
  cursor: pointer;
}

/* product image */
.product-image {
  width: 30%;
}

.product-font {
  font-family: Plain;
  font-size: 11.5px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 1.5px;
  color: rgb(119, 119, 119);
}

.product-delete {
  float: right;
  font-size: 30%;
  cursor: pointer;
}

.product-delete:hover {
  background-color: red;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.add-to-fit-button {
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
}

.add-to-fit-button:hover {
  background-color: #e7e7e7;
}


/* PRODUCT FORM STYLING */
.product-form-div {
  text-align: center;
  font-family: Plain;
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color:black;
  background-color: white;
  padding: 10px;
  align-items: stretch;
  justify-content: center;	
  justify-items: center;
  align-content: space-between;
}

/* ERROR PAGE */

.error-page {
  text-align: center;
}


/* HOME PAGE BANNERS */

.home-banner {
  position:relative;
  z-index:-1;
  display:block;
  height:200px; width:auto;
  width: 100%;
  height: 250px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0)));
}